.popoverTitle {
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
  }

.credentialRow {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  align-items: center;
}

.credentialRow label {
  font-weight: 500;
}

.credentialRow input {
  padding: 8px;
  border: 2px solid var(--txt-primary);
  border-radius: 4px;
}
