:root {
  --base-color: grey;
}

:root {
  --base-color: grey;

  --txt-primary: lch(from var(--base-color) calc(l - 70) c calc(h + 120));

  --txt-secondary: lch(from var(--txt-primary) calc(l + 15) c h);

  --surface-primary: lch(from var(--base-color) calc(l + 60) calc(c - 20) h);

  --surface-secondary: lch(from var(--base-color) calc(l + 40) calc(c - 20) h);

  --bg-primary: var(--surface-secondary);

  --bg-secondary: lch(from var(--base-color) calc(l + 10) calc(c - 40) h);
}

::backdrop {
  backdrop-filter: blur(1px);
}

:root[data-theme='dark'] .shiki, :root[data-theme='dark'] .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
